.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.5);
}

.wrapper {
  overflow-x: auto;
}

.container {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  @media screen and (max-width: 900px) {
    width: 100%;
    height: 100%;
  }
}

.title {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(188, 78, 78);
  cursor: pointer;
}

.noItemsPlaceholder {
  padding: 10rem 0;
  text-align: center;
  font-size: 2rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
  
    th,
    td {
      border: 1px solid #dee2e6;
      padding: 0.75rem;
      text-align: center;
    }
  
    th {
      background-color: #f8f9fa;
      font-weight: bold;
    }
  
    tbody tr:hover {
      background-color: #f2f2f2;
    }
  }